<div class="row" ng-controller="MainCtrl">
	<div class="col-xs-2">
		&nbsp;
	</div>
	<div class="col-xs-2" id="wIcon">
		<i ng-class="wIcon"></i>
	</div>
	<div class="col-xs-2" id="temperature">
		<h1>{{wTemp}}<i class="wi wi-fahrenheit"></i></h1>
	</div>
	<div class="col-xs-2" id="summary">
		<h1>{{wSummary}}<br><small>{{wTime}}</small></h1>
	</div>
	<div class="col-xs-2" id="windIcon">
		<h1><i ng-class="wBIcon" ng-style="{'transform': wBIconRotate, '-webkit-transform': wBIconRotate, '-ms-transform': wBIconRotate }"></i> {{wWindBearing}}<i class="wi wi-degrees"></i><br><small><i ng-class="bWs"></i></small></h1>
	</div>
	<div class="col-xs-2">
		&nbsp;
	</div>
</div>
